<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <table class="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Kontaktinformasjon</th>
        </tr>
        </thead>
        <tbody>
        {{#if publicMail}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="mailto:{{publicMail}}" title="Send e-post til {{publicMail}}">{{publicMail}}</a>
            </td>
        </tr>
        {{/if}}
        {{#if mobilePhone}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="tel:{{mobilePhone}}" title="Ring til mobiltelefonnummer {{mobilePhone}}">{{mobilePhone}}</a>
            </td>
        </tr>
        {{/if}}
        {{#if phone}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="tel:{{phone}}" title="Ring til telefonnummer {{phone}}">{{phone}}</a>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>