<h1>{{meeting.boardName}}</h1>
<div>
    {{meeting.date}} {{meeting.year}}<br/>
    {{meeting.place}}
</div>
<h2>Saksliste</h2>
<table>
    <thead>
    <tr>
        <th>Saksnummer</th>
        <th>Sakstittel</th>
    </tr>
    </thead>
    <tbody>
    {{#each meeting.agenda}}
    <tr>
       <td>{{agendanumber}}</td>
        <td>
            {{title}}<br/>
            {{#each documents}}
            <a href="{{documentUrl}}" target="_blank">{{title}}</a><br/>
            {{/each}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>