<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Utvalg</th>
        <th class="mdl-data-table__cell--non-numeric">Møtekalender</th>
    </tr>
    </thead>
    <tbody>
    {{#each committees}}
    <tr>
        <td class="mdl-data-table__cell--non-numeric"><a href="/utvalg/{{_id}}">{{name}}</a></td>
        <td class="mdl-data-table__cell--non-numeric"><a href="/kalender?boardId={{_id}}">Møtekalender</a></td>
    </tr>
    {{/each}}
    </tbody>
</table>