<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Navn</th>
        <th class="mdl-data-table__cell--non-numeric">Rolle</th>
        <th class="mdl-data-table__cell--non-numeric">E-post</th>
        <th class="mdl-data-table__cell--non-numeric">Mobil</th>
        <th class="mdl-data-table__cell--non-numeric">Telefon</th>
    </tr>
    </thead>
    <tbody>
    {{#each members}}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
            <a href="/politikere/{{recno}}" title="Gå til detaljert oversikt for {{name}}">{{name}}</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{myRoleInCommittee}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{#if publicMail}}
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:{{publicMail}}" title="Send e-post til {{publicMail}}">{{publicMail}}</a>
            {{/if}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{#if mobilePhone}}
            <span class="glyphicon glyphicon-phone"></span>
            <a href="tel:{{mobilePhone}}" title="Ring til mobiltelefonnummeret {{mobilePhone}}">{{mobilePhone}}</a>&nbsp;
            {{/if}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{#if phone}}
            <span class="glyphicon glyphicon-phone-alt"></span>
            <a href="tel:{{phone}}" title="Ring til telefonnummeret {{phone}}">{{phone}}</a>
            {{/if}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>