<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Saksnummer</th>
        <th class="mdl-data-table__cell--non-numeric">Sakstittel</th>
    </tr>
    </thead>
    <tbody>
    {{#each meeting.agenda}}
    <tr>
       <td class="mdl-data-table__cell--non-numeric">{{agendanumber}}</td>
        <td class="mdl-data-table__cell--non-numeric">
            {{title}}<br/>
            {{#each documents}}
            <a href="{{documentUrl}}" target="_blank"><span class="material-icons alignBottom">file_download</span> {{title}}</a><br/>
            {{/each}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>