<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>E-post</th>
            <th>Mobil</th>
            <th>Telefon</th>
            <th>Utvalg</th>
        </tr>
    </thead>
    <tbody>
        {{#each contacts}}
            <tr>
                <td>{{name}}</td>
                <td>
                    {{#if publicMail}}
                        <a href="mailto:{{publicMail}}" title="Send e-post til {{publicMail}}">{{publicMail}}</a>
                    {{/if}}
                </td>
                <td>
                    {{#if mobilePhone}}
                        <a href="tel:{{mobilePhone}}" title="Ring til mobiltelefonnummeret {{mobilePhone}}">{{mobilePhone}}</a>
                    {{/if}}
                </td>
                <td>
                    {{#if phone}}
                        <a href="tel:{{phone}}" title="Ring til telefonnummeret {{phone}}">{{phone}}</a>
                    {{/if}}
                </td>
                <td>
                    {{#each committees}}
                        <a href="/utvalg/{{groupRecno}}" title="Gå til detaljsiden for utvalget">{{name}}</a><br/>
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>