<div class="mdl-grid">
    <div class="mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Parti</th>
                </tr>
            </thead>
            <tbody>
            {{#each parties}}
            <tr>
               <td class="mdl-data-table__cell--non-numeric">
                   <a href="/partier/{{_id}}">{{name}}</a>
               </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>